:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: hsl(210, 80%, 20%);
  font-family: Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5em;
}

.box-container {
  width: 200px;
  height: 200px;
  outline: black 3px dotted;
}

.box {
  width: 200px;
  height: 200px;
  background-color: lightblue;
}

.rotate {
  transform: rotate(30deg);
}

.translate {
  transform: translate(40px, 20px);
}

.scale {
  transform: scale(0.8);
}

.skew {
  transform: skew(15deg);
}

.card {
  padding: 0.5em;
  margin: 2em auto 0;
  background-color: white;
  max-width: 300px;
  transform: translate(20px, 0) rotate(15deg);
  transition: transform 0.5s ease-out;
}

.card:hover {}