:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.message {
  padding: 0.8em 1.2em;
  border: 1px #265559 solid;
  border-radius: .2em;
  background-color: #e0f0f2;
}

.message--success {
  color: #2f5926;
  border-color: #2f5926;
  background-color: #cfe8c9;
}

.message--warning {
  color: #594826;
  border-color: #594826;
  background-color: #e8dec9;
}

.message--error {
  color: #59262f;
  border-color: #59262f;
  background-color: #e8c9cf;
}

.button {
  padding: 0.5em 0.8em;
  border: 1px solid #265559;
  border-radius: 0.2em;
  background-color: transparent;
  font-size: 1rem;
}

.button--success {
  border-color: #cfe8c9;
  color: #fff;
  background-color: #2f5926;
}

.button--danger {
  border-color: #e8c9c9;
  color: #fff;
  background-color: #a92323;
}

.button--small {
  font-size: 0.8rem;
}

.button--large {
  font-size: 1.2rem;
}

.media {
  padding: 1.5em;
  background-color: #eee;
  border-radius: 0.5em;
}

.media::after {
  content: "";
  display: block;
  clear: both;
}

.media__image {
  float: left;
  margin-right: 1.5em;
}

.media__body {
  overflow: auto;
  margin-top: 0;
}

.media__body>h4 {
  margin-top: 0;
}

.media--right>.media__image {
  float: right;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown__toggle {
  position: relative;
  padding: 0.5em 2em 0.5em 1.5em;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #eee;
}

.dropdown__toggle::after {
  content: "";
  position: absolute;
  right: 1em;
  top: 1em;
  border: 0.375em solid;
  border-color: black transparent transparent;
}

.dropdown__drawer {
  display: none;
  position: absolute;
  left: 0;
  top: 2.1em;
  min-width: 100%;
  background-color: #eee;
}

.dropdown.is-open .dropdown__toggle::after {
  top: 0.625em;
  border-color: transparent transparent black;
}

.dropdown.is-open .dropdown__drawer {
  display: block;
}

.menu {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  border: 1px solid #999;
}

.menu>li+li {
  border-top: 1px solid #999;
}

.menu>li>a {
  display: block;
  padding: 0.5em 1.5em;
  background-color: #eee;
  color: #369;
  text-decoration: none;
}

.menu>li>a:hover {
  background-color: #fff;
}

.text-center {
  text-align: center !important;
}

.float-left {
  float: left;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.hidden {
  display: none !important;
}